---
layout: default
---
<section id="cover">
    {% include home/cover.html %}
</section>

<section id="about">
    {% include home/about.html %}
</section>

<section id="our-story">
    {% include home/our-story.html %}
</section>

<section id="countdown">                                                            ``
    {% include home/countdown.html %}
</section>

<section id="venue">
    {% include home/venue.html %}
</section>

<section id="rsvp">
    {% include home/rsvp.html %}
</section>

<section id="gallery">
    {% include home/gallery.html %}
</section>



