
html,body
  font-family: 'Gotham-Light', 'sans-serif'
  margin: 0
  color: #555555
  background-color: #20293b

//Global
.stylized
  font-family: 'Back-to-Black','sans-serif'
  color: white


.stylized-header
  font-family: 'Angelique-Rose','sans-serif'
  color: #a4a4a4

.no-gutter
  padding-left: 0
  padding-right: 0

#cover
  position: relative
  height: 100vh
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/cover.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  .container
    height: inherit
    .intro-text-container
      position: relative
      top: 50%
      transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      background-image: url('img/cover-border.png')
      padding: 270px 0
      background-repeat: no-repeat
      background-position: center center
      background-size: 70%
      .intro-header
        .into-header-text
          position: relative
          top: 20px
          color: white
          font-size: 7em
          text-align: center
          margin: 0
      .caption
        margin: 0
        color: white
        text-align: center
        .intro-date
          position: relative
          font-size: 2.2em
          top: 130px
          display: block
          text-align: center
          font-family: 'Gotham-Light'

#about
  position: relative
  padding-top: 100px
  .bride-section
    color: white
  .groom-section
    color: white
  .content-name
    margin: 30px 0
    letter-spacing: 5px
    font-size: 2em
    font-weight: normal
    font-style: normal
  .content-image
    border: 3px dotted #ffcb7d
    padding: 15px
  .content-description
    color: white
    max-width: 95%
    min-width: 95%
    margin: 1em auto
    text-align: left
    font-size: 16px
    font-weight: normal
    line-height: 1.7em

#our-story
  position: relative
  .timeline-section
    position: relative
    &:before
      content: ''
      position: absolute
      height: 95%
      width: 4px
      border-right: 1px solid #ffcb7d
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
    .timeline-block
      position: relative
      margin: 50px auto
      .timeline-img
        position: relative
        width: 250px
        height: 250px
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
        border-radius: 50%
        background-color: #20293b
        img
          display: block
          width: 100%
          height: 100%
          border-radius: 50%
        .timeline-title
          position: absolute
          color: #ffcb7d
          top: 50%
          left: 0
          right: 0
          margin-left: auto
          margin-right: auto
          text-align: center
          transform: translateY(-50%)
          text-transform: uppercase
          font-size: 1.5em
      .content-section
        .timeline-content
          position: relative
          padding: 80px 50px
          color: #777
          margin-left: 0
          .content-image
            width: 350px
            height: 350px
            border-radius: 50%
            padding: 15px
            border: 2px dotted #ffcb7d
            background-color: #20293b
          h2
            letter-spacing: 5px
            color: white
            font-size: 2.5em
            font-weight: normal
            font-style: normal
          p
            background-color: #20293b
            color: white
            font-size: 18px
            font-weight: normal
            line-height: 30px
            text-align: justify
            padding: 100px 0
        
    .circle-shape
      background: #FF5252
      box-shadow: 0 0 0 8px white
      width: 150px
      height: 150px
      position: relative
      top: 40px
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
      border-radius: 50%f
      h2
        font-family: "Montserrat", "sans-serif"
        text-transform: uppercase
        letter-spacing: 0px
        font-weight: normal
        font-style: normal
        text-align: center
        color: white
        font-size: 1.3em
        position: relative
        top: 50%
        transform: translateY(-50%)
    &:after
      content: ''
      display: table
      clear: both

#countdown
  position: relative
  padding: 30px 0
  .section-header
    color: #ffcb7d
    font-size: 28px
    text-align: center
    text-transform: none
  #clock
    .item-list
      margin: 30px 0
      .item-container
        position: relative
        border: 3px dotted #2b3850
        border-radius: 50%
        padding: 90px 5px
        height: 220px
        width: 220px
        color: white
        margin: 0 auto
        text-transform: lowercase
        .countdown-name
          display: block
          text-align: center
          padding: 25px 0
          font-size: 24px
        .countdown-value
          position: relative
          display: block
          text-align: center
          margin-left: auto
          margin-right: auto
          .countdown-number
            font-size: 34px
            position: absolute
            top: 50%
            left: 0
            right: 0
            transform: translateY(-50%)
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            -o-transform: translateY(-50%)

#venue
  position: relative
  height: 700px
  .container-fluid
    height: inherit
    #map
      position: relative
      height: inherit
      #info-window-container
        width: 300px
        padding: 10px 15px 20px
        .section-header
          text-transform: capitalize
        .info-window-content
          address
            font-size: 16px
            line-height: 25px

#rsvp
  position: relative
  padding: 30px 0
  .section-header
    color: white
    font-size: 28px
    text-align: center
    text-transform: none
  #form-content
    .form-item
      max-width: 50%
      min-width: 50%
      margin: 30px auto
      .content-title
        padding-bottom: 5px
        font-size: 1.2em
        display: block
        color: white
        text-transform: capitalize
      .content-input
        background-color: transparent
        outline: none
        border: 2px solid #2b415a
        padding: 22px
        color: white
        border-radius: 12px
        box-shadow: none
        -webkit-box-shadow: none
      .content-number
        max-width: 50%
        min-width: 50%
        border: 2px solid #2b415a
      .content-select
        padding: 0 22px
        max-width: 50%
        min-width: 50%
        height: 48px
        border: 2px solid #2b415a
        border-radius: 12px
    .content-button-container
      max-width: 50%
      min-width: 50%
      margin: 50px auto
      #ss-submit
        color: white
        padding: 25px 30px
        line-height: 0
        border-radius: 12px
        border: none
        background-color: #2b415a

#gallery
  padding-top: 50px
  padding-bottom: 50px
  .timeline-img
    position: relative
    width: 250px
    height: 250px
    left: 0
    right: 0
    margin-left: auto
    margin-right: auto
    border-radius: 50%
    background-color: #20293b
    img
      display: block
      width: 100%
      height: 100%
      border-radius: 50%
    .timeline-title
      position: absolute
      color: #ffcb7d
      top: 50%
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
      text-align: center
      transform: translateY(-50%)
      text-transform: uppercase
      font-size: 1.5em
  .content-container
    margin-top: 50px
    .gallery-image-container
      overflow: hidden
      .gallery-image
        padding: 5px 10px
        object-fit: cover
        object-position: 50% 50%

.modal.fade
  .modal-dialog
    position: absolute
    top: 40%
    left: 0
    right: 0
    opacity: 0
    -webkit-transform: translateY(-40%)
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)136
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease


  &.in .modal-dialog
    margin-top: 0
    margin-bottom: 0
    position: absolute
    top: 40%
    opacity: 1
    -webkit-transform: translateY(-40%)
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)

/* DIALOG CONTENT
.modal-content
  border: none
  border-radius: 2px
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  padding: 8% 5%
  background-color: #ffcb7d
  .text-alert
    margin: 50px auto
    color: #2b415a
    text-align: center

@media (max-width: 1440px)
  #cover
    .container
      .intro-text-container
        background-size: 60%
        .intro-header
          .into-header-text
            top: 25px
            font-size: 6em
        .caption
          .intro-date
            top: 100px
            font-size: 1.7em

@media (max-width: $screen-md-max)
  #cover
    .container
      .intro-text-container
        background-size: 65%
        padding: 220px 0
        .intro-header
          .into-header-text
            top: 15px
            font-size: 5.5em

  #our-story
    .timeline-section
      .timeline-block
        .content-section
          .timeline-content
            p
              padding: 20px 0

@media (max-width: $screen-sm-max)
  #cover
    .container
      .intro-text-container
        background-size: 95%
        padding: 250px 0
        .intro-header
          .into-header-text
            top: 10px
            font-size: 6.5em
        .caption
          .intro-date
            top: 60px
            font-size: 1.2em

  #about
    padding-top: 50px
    padding-bottom: 50px
    .bride-section
      padding-top: 50px
      padding-bottom: 50px
    .groom-section
      padding-top: 50px
      padding-bottom: 50px

  #our-story
    .timeline-section
      #form-content
        .form-item
          max-width: 90%
        .content-button-container
          max-width: 90%
      &:before
        height: 80%
      .timeline-img
        margin: 0 auto 50px
      .timeline-block
        margin: 0
        .content-section
          .timeline-content
            padding: 50px

  #rsvp
    #form-content
      .form-item
        max-width: 80%
        min-width: 80%
        .content-number
          max-width: 100%
          min-width: 0
        .content-select
          max-width: 100%
          min-width: 0
      .content-button-container
        max-width: 80%
        min-width: 0
@media (max-width: $screen-sm-max) and (orientation: landscape)
  #cover
    .container
      .intro-text-container
        background-size: 60%
        padding: 120px 0
        .intro-header
          .into-header-text
            top: 0
            font-size: 4.5em

@media (max-width: $screen-xs-max)
  #cover
    .container
      .intro-text-container
        padding: 180px 0
        .intro-header
          .into-header-text
            font-size: 5em
            top: 14px
        .caption
          .intro-date
            top: 90px

@media (max-width: $screen-xs-max) and (orientation: landscape)
  #cover
    .container
      .intro-text-container
        background-size: 45%

@media (max-width: 568px)
  #cover
    .container
      .intro-text-container
        background-image: url('img/cover-border-small.png')
        .intro-header
          .into-header-text
            font-size: 4em
            line-height: 85px
            top: 0
        .caption
          .intro-date
            top: 0
  #our-story
    .timeline-section
      .timeline-block
        .timeline-img
          height: 200px
          width: 200px
        .content-sectionall
          .timeline-content
            padding: 80px 0 30px
            .content-image
              width: 270px
              height: 270px
            p
              font-size: 16px
              max-width: 90%
              margin: 0 auto
              text-align: left
  #countdown
    .section-header
      padding-left: 15px
      padding-right: 15px

  #gallery
    .content-container
      .gallery-image-container
        .gallery-image
          padding-left: 0
          padding-right: 0







