<div class="container">
    <div class="section-header">
        <h1></h1>
    </div>
    <div class="col-lg-6">
        <div class="bride-section text-center">
            <img class="content-image center-block img-circle img-responsive" src="img/{{ site.about.bride.bride-image }}" alt="">
            <h2 class="stylized content-name">{{ site.about.bride.bride-name }}</h2>
            <p class="content-description text-center">{{ site.about.bride.bride-description }}</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="groom-section text-center">
            <img class="content-image center-block img-circle img-responsive" src="img/{{ site.about.groom.groom-image }}" alt="">
            <h2 class="stylized content-name">{{ site.about.groom.groom-name }}</h2>
            <p class="content-description text-center">{{ site.about.groom.groom-description }}</p>
        </div>
    </div>
</div>