<div class="container no-gutter">
    <h3 class=" text-center section-header"></h3>
    <br/>
    <div id="clock">
        <div class="item-list col-md-3 col-sm-12  col-xs-12">
            <div class="item-container ">
                <span id="countdown-day" class="countdown-value"></span>
                <span class="countdown-name">DAYS</span>
            </div>
        </div>

        <div class="item-list col-md-3 col-sm-12  col-xs-12">
            <div class="item-container ">
                <span id="countdown-hour" class="countdown-value"></span>
                <span class="countdown-name">HOURS</span>
            </div>
        </div>

        <div class="item-list col-md-3 col-sm-12  col-xs-12">
            <div class="item-container ">
                <span id="countdown-minute" class="countdown-value"></span>
                <span class="countdown-name">MINUTES</span>
            </div>
        </div>

        <div class="item-list col-md-3 col-sm-12  col-xs-12">
            <div class="item-container ">
                <span id="countdown-second" class="countdown-value"></span>
                <span class="countdown-name">SECONDS</span>
            </div>
        </div>
    </div>
</div>
