<div class="container">
    <div class="timeline-section">
        {% for story in site.content %}
        <div id="{{ story.id }}" class="timeline-block clearfix">
            <div class="timeline-img picture">
                <img src="img/content-border.png">
                <span class="timeline-title">{{ story.title }}</span>
            </div>
            <div class="content-section clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12 left-section timeline-content {% cycle 'pull-left', 'pull-right' %}">
                    <img  class="content-image center-block" src="img/{{ story.image }}"/>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 right-section timeline-content">
                    <p class="content-description">{{ story.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

