<div class="container">
    <div class="timeline-section">
        {% for story in site.outstory %}
        <div class="timeline-block clearfix">
            <div class="timeline-img picture">
                <img src="{{ story.image }}">
            </div>
            <div class="timeline-content {% cycle 'text-left pull-right', 'text-right pull-left' %}">
                <h2 class="stylized">{{ story.title }}</h2>
                <p>{{ story.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>