<div class="container">
    <div class="content-container clearfix">
        <div class="section-content">
            <h1 class="stylized section-header">Ceremony</h1>
            <ul>
                <li>
                    <b>{{ site.wedding-details.ceremony.ceremony-day }} / {{ site.wedding-details.ceremony.ceremony-date
                        }} / {{ site.wedding-details.ceremony.ceremony-time }} </b>
                </li>
                <li>
                    <b>{{ site.wedding-details.ceremony.ceremony-name }}</b>
                </li>
                <li>
                    <b>{{ site.wedding-details.ceremony.ceremony-location }}</b>
                </li>
            </ul>

        </div>
        <div class="section-content">
            <h1 class="stylized section-header">Venue</h1>
            <ul>
                <li>
                    <b>{{ site.wedding-details.venue.venue-day }} / {{ site.wedding-details.venue.venue-date }} / {{
                        site.wedding-details.venue.venue-time }} </b>
                </li>
                <li>
                    <b>{{ site.wedding-details.venue.venue-name }}</b>
                </li>
                <li>
                    <b>{{ site.wedding-details.venue.venue-location }}</b>
                </li>
            </ul>
        </div>
    </div>
</div>